[submodule "bookProcessingPL"]
	path = bookProcessingPL/
	url = git://github.com/borkowsk/bookProcessingPL.git
	
[submodule "anticonformistsModel"]
        path = anticonformistsModel/
	url = https://github.com/borkowsk/Boca_anticonformists_model.git
	
